@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* 1px = 0.0625rem
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px; 
  display: flex; 
  align-items: center;
  max-width: 37.5rem; 
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d
}

.navbar .links {
  margin-left: auto; 
}

.navbar a {
  margin-left: 1rem; 
  text-decoration: none;
  padding: 0.375rem; 
}

.navbar a:hover {
  color: #f1356d; 
}

.content {
  max-width: 37.5rem; 
  margin: 40px auto; 
  padding: 1.25rem; 
}

/* Blog previews */
.blog-preview {
  padding: 0.625rem 1rem;
  margin: 1.25rem;
  border-bottom: 1px solid #fafafa; 
}

.blog-preview:hover {
  box-shadow: 0.0625rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 1.25rem;
  color: #f1356d; 
  margin-bottom: 0.5rem; 
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 1.25rem;
  color: #f1356d; 
  margin-bottom: 00.625rem;
}

.blog-details div {
  margin: 1.25rem 0; 
}

/* own css */ 
.blog-details p {
  font-weight: bold;
}


/* button comes later so commented
.blog-details button {
  background: #f1356d; 
  border: 0; 
  padding: 0.5rem; 
  border-radius: 00.5rem;
  cursor: pointer;
}
*/
/* styles from App.css */

.App-logo {
  height: 3vmin;
  pointer-events: none;
}

.App-logo2 {
  height: 3vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }

  .App-logo2 {
    animation: App-logo-spin2 infinite 4s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  to {
    
  }
}

@keyframes App-logo-spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
